
body {
   font-family: 'Poppins', sans-serif;
   background-image: url('https://steamuserimages-a.akamaihd.net/ugc/271717005637201895/FE332967E24FE326A1FD811F0C2B7D7707479E6C/');
   background-size: cover;
    
      
    height: 100vh;
    padding:0;
    margin:0;
}
    
  
  h1 {
    font-family: 'Vibur', cursive;
    color:#f76565;
    text-align: center;
    font-size: 30px;
  }
  

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(255, 254, 254);
    text-align: center;
    }


    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }

    .profile {
      position: relative;
      width: 100%;
    }
    

    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgb(255, 255, 255);
    }
    
    .profile:hover .overlay {
      opacity: 0.3;
    }
    
    .text {
      color: rgb(0, 0, 0);
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }



 /* unvisited link */
 a:link, a:visited {
  color: white;
}

/* visited link
a:visited {
  color: rgb(178, 219, 243);
} */

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
/* a:active {
  color: blue;
} */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}