
body {
    background-color: rgb(245, 239, 225);
  }
  
  h1 {
    @font-face {
      font-family: poppins
      src: url(poppins);
    }
    color: rgb(160, 160, 250);
    text-align: center;
  }
  
  p {
    @font-face {
      font-family: poppins
      src: url(poppins);
    }
    font-size: 20px;
    color: rgb(0, 0, 0);
    }