
body {
   font-family: 'Poppins', sans-serif;
   background-image: url('http://2.bp.blogspot.com/-DKpyu_REz88/VcJICBG-sxI/AAAAAAAAFZE/QbafJrRZD4I/s640/8bit%2Bgif%2Bjapan%2B-%2B1041uuu%2B-%2BDiedrica%2BBlog%2B03.gif');
   background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
    
  
  h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(160, 160, 250);
    text-align: center;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    }


    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }
