
body {
    background-image: "IMAGE/yq_profile pic.jpg";
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);
  }
  
@font-face{
    font-family: Poppins-ExtraLight;
    src: url(Poppins-ExtraLight.otf);
  }

  h1 {
    font-family: Poppins-ExtraLight;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  

  p {
   font-family: Poppins-ExtraLight;
    font-size: 20px;
    color: rgb(0, 0, 0);
    }