
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #161616; */
    background-image: url(https://image.freepik.com/free-vector/violet-light-line-cross-dark-grey-background_33869-1195.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 h1 {
    font-family: 'Crimson Text', serif;
     color: #BBACE1;
     text-align: center;
     font-size: 30px;
   }

   h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #E7DFDD;
    text-align: left;
    margin: 15px 100px 15px 100px;
    }
   
   p {
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     color: #E7DFDD;
     text-align: left;
     margin: 5px 100px 5px 125px;
     }

     ul {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #E7DFDD;
      text-align: left;
      margin: 5px 100px 5px 100px;
      }
/* 
      p.code{
        font-family: 'Source Code Pro', monospace;
        font-size: 16px;
        color: #E7DFDD;
        text-align: left;
        margin: 5px 10px 5px 10px;
      }
        

      div.code{
        font-family: 'Source Code Pro', monospace;
        font-size: 16px;
        color: #E7DFDD;
        text-align: left;
        margin: 20px 250px 20px 250px;
        border: 1px solid #ddd;
      } */

code{
  font-size: 16px;
        color: #E7DFDD;
        text-align: left;
}

pre{
  font-size: 16px;
  color: #E7DFDD;
  text-align: left;
}

     img {
       display: block;
      }
    
      .row {
        display: flex;
      }

      /* div.box {
        width: 300px;
        border: 15px solid rgb(199, 202, 199);
        padding: 50px;
        margin: 20px;
      } */
   


   .column {
        flex: 33.33%;
        padding: 5px;
   } 
  
   .container{
     margin: 15px 100px 15px 100px;
   }

   .shoebag{
    margin: 15px 100px 15px 100px;
  }
 