
body {
    font-family: 'Poppins', sans-serif;
    background-color: #161616;
 }
 
 h1 {
    font-family: 'Crimson Text', serif;
     color: #BBACE1;
     text-align: center;
     font-size: 30px;
   }
   
   p,ul {
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     color: #E7DFDD;
     text-align: center;
     }
     
     img {
       display: block;
       margin-left: 10px;
       margin-right: auto;
       margin-top: 10px;
     }
     
    

     .row {
      display: flex;
    }
    
    .column {
      flex: 50%;
      padding: 5px;
    }