
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #161616; */
    background-image: url(https://besthqwallpapers.com/Uploads/11-7-2019/99510/black-stylish-texture-purple-neon-light-black-stylish-background-neon-lines-creative-paper-textures.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    /* background-position: center; */
 }
 
 h1 {
    font-family: 'Crimson Text', serif;
     color: #BBACE1;
     text-align: center;
     font-size: 30px;
   }

   h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #E7DFDD;
    text-align: left;
    margin: 15px 100px 15px 100px;
    }

    /* Title subtext */
    h3{
      font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #E7DFDD;
    text-align: center;
    margin: 15px 100px 15px 100px;
    }
   
/* label diagrams */
    h4{
      font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #E7DFDD;
    text-align: center;
    margin: 10px 100px 10px 100px;
    }

   p {
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     color: #E7DFDD;
     text-align: left;
     margin: 5px 100px 5px 125px;
     }

     ul {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #E7DFDD;
      text-align: left;
      margin: 5px 100px 5px 100px;
      }
/* 
      p.code{
        font-family: 'Source Code Pro', monospace;
        font-size: 16px;
        color: #E7DFDD;
        text-align: left;
        margin: 5px 10px 5px 10px;
      }
        

      div.code{
        font-family: 'Source Code Pro', monospace;
        font-size: 16px;
        color: #E7DFDD;
        text-align: left;
        margin: 20px 250px 20px 250px;
        border: 1px solid #ddd;
      } */

code{
  font-size: 16px;
        color: #E7DFDD;
        text-align: left;
}

pre{
  font-size: 16px;
  color: #E7DFDD;
  text-align: left;
}

     img {
       display: block;
      }
    
.row {
   display: flex;
  }

      /* div.box {
        width: 300px;
        border: 15px solid rgb(199, 202, 199);
        padding: 50px;
        margin: 20px;
      } */
   


   .column {
        flex: 33.33%;
        padding: 5px;
   } 
  
   .container{
     margin: 15px 100px 15px 100px;
   }

   .bbygroot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
 
 /* unvisited link */
a:link, a:visited {
  color: rgb(255, 255, 255);
}

/* visited link
a:visited {
  color: rgb(178, 219, 243);
} */

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
/* a:active {
  color: blue;
} */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}